<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joe & Robert News Blog</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
    <div class="header_logo">JOE-ROBERT TECH BLOG</div>
    <div class="header__search">

        <form action="/" method="POST">
          <input type="text" name="search" placeholder="Search for news" required>
          <input type="submit" value="Search">
        </form>
      </div>

  </header>
 
  <div class="wrapper">
    <div class="news">
      <% if (articles != null) { %>
        <% articles.forEach(function(article, index) { %>
          <a href="/article/<%- article.author %>" class="news__card">
            <img src="<%- article.urlToImage %>" alt="<%- article.title %>">
            <h2><%- article.title %></h2>
            <p><%- article.description %></p>
            <p><%- article.content %></p>
            <p>
              <!-- Include and execute JavaScript file -->
              <script src="https://newsapi.org/v2/top-headlines?sources=techcrunch&apiKey=ff2b3717e2e343918dbea75624ff5422"></script>
            </p>
          </a>
        <% }) %>
        <% } else { %>
           Posts Not Found
        <% } %>
      </div>
    </div>
  </div>
</body>
</html>